body{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}
.titulo{
    margin-top: -2vh;
    margin-left: -2vh;
    margin-right: -2vh;
    background-color: rgb(168, 112, 70);
    line-height: 60px;
}
.blogs{
    text-align: center;
}
.nblog1{
    text-align: left;
}
.nblog2{
    text-align: left;
}
.titulon{
    text-align: center;
}
.nombres{
    display: block;
    text-align: center;
    list-style: none;
    white-space: pre-wrap;
}
button:hover, #submit:hover{
    outline: none;
    cursor: pointer;
    transition:0.5s ease;
}